{% extends "layout.html" %}

{% block title %}
Add Book
{% endblock %}

{% block Body %}
<div class="container" style="padding-top: 30px; width: 50%;">
    <div class="card">
        <div class="card-header">
            New Book
        </div>
        <div class="/book/addbook">
            <form action="/book/addbook" method="POST">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title">

                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" name="website">

                </div>
                <div class="form-group">
                    <label>Area</label>
                    <input type="text" class="form-control" name="area">

                </div>
                <div class="form-group">
                    <label>Stock</label>
                    <input type="number" class="form-control" name="stock">

                </div>
                <div class="form-group">
                    <label>AuthId</label>
                    <input type="text" class="form-control" name="authId">

                </div>
                <button type="submit" class="btn btn-primary mt-3">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}