{% extends "layout.html" %}

{% block title %}
Remove Book
{% endblock %}}

{% block Body %}


<div class="container" style="padding-top: 30px; width: 50%;">
    <div class="card">
        <div class="card-header">
            Remove Book
        </div>
        <div class="/book/removebook">
            <form action="/book/removebook" method="POST">
                <div class="form-group">
                    <label>Book ID</label>
                    <input type="text" class="form-control" name="bookId" id="inp">
                </div>

                <button type="Remove" class="btn btn-danger mt-3" id="remove"
                    onclick="alert(`${document.getElementById('inp').value} id is getting deleted. Are you sure?`)">Remove</button>
            </form>
        </div>
    </div>
</div>
<script>

    let el = document.getElementById(remove)
    el.onclick = () => {
        let str = `${document.getElementById("inp").value} id is getting deleted. Are u okay?`
        alert(str0)
    }

</script>


{% endblock %}