{% extends "layout.html" %}

{% block title %}
Show Books
{% endblock %}

{% block Body %}

<!-- <div class="container" style="padding-top: 15px;">
    <div class="table-responsive">
        <table class="table table-hover table-dark" , style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Web Site</th>
                    <th scope="col">Available Sales Area</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Total Orders</th>
                    <th scope="col">Auth ID</th>

                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>

                    <td>{{row["BookID"]}}</td>
                    <td>{{row["Title"]}}</td>
                    <td>{{row["OnlineSalesWebsite"]}}</td>
                    <td>{{row["AvaliableSalesAreas"]}}</td>
                    <td>{{row["Stock"]}}</td>
                    <td>{{row["TotalNumberOfOrders"]}}</td>
                    <th scope="row"><a href='author_info{{row["AuthId"]}}'>{{row["AuthId"]}}</a></th>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> -->


<div class="container">
    <div class="row">
        {%for row in rows %}
        <div class="col-lg-3 d-flex align-items-stretch">

            <div class="card text-center my-2" style="width: 18rem;">
                <img class="card-img-top" src="data:;base64,{{ imgs[loop.index - 1] }}" alt="Card image cap">

                <div class="card-body">
                    {%if fav_book == row["Title"]%}
                    <h5 class="card-title" style="min-height: 95px;">{{row["Title"] + "\U0001F642"}}</h5>
                    {%else %}
                    <h5 class="card-title" style="min-height: 95px;">{{row["Title"] }}</h5>
                    {%endif%}
                    <div class="d-flex justify-content-between">
                        <div>Book Id:</div>
                        <div>{{row["BookID"]}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>Web Site:</div>
                        <div>{{row["OnlineSalesWebsite"]}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>Area:</div>
                        <div>{{row["AvaliableSalesAreas"]}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>Stock:</div>
                        <div>{{row["Stock"]}}</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>Total Order:</div>
                        <div>{{row["TotalNumberOfOrders"]}}</div>
                    </div>


                    <a href='author_info{{row["AuthId"]}} ' class="btn btn-primary mt-3">Show Author</a>
                    {%if session["logged_in"]%}
                    <a href='make_fav{{row["BookID"]}} ' class="btn btn-primary mt-3">Make Favorite</a>
                    {%endif%}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}