<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Book</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/book/showbooks">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Edition</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Author</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/author/showauthor">Show All Authors</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Info</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Award</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Series</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Ratings</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Publisher</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">Sales</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Show Available Books</a></li>
                        <li><a class="dropdown-item" href="#">Add Book</a></li>
                        <li><a class="dropdown-item" href="#">Remove Book</a></li>
                        <li><a class="dropdown-item" href="#">Update Book</a></li>

                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>